@import "tailwindcss";

@theme {
  --color-spotify-green: #1DB954;
  --color-spotify-black: #191414;
  --color-spotify-white: #FFFFFF;
  --color-spotify-grey: #535353;
  --color-spotify-dark: #121212;
}

body {
  background-color: #121212;
  color: white;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl;
  }
}
