@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl;
  }
}
